<!doctype html>
<html lang="en">
  <%= require("./partials/header.ejs")({title: htmlWebpackPlugin.options.title}) %>
  <body>
    <%= require("./partials/navbar.ejs")() %>
    <section class='container-fluid'>
      <div class='row'>
        <!-- 側欄 -->
        <div class='col-lg-3 col-sm-12'>
          <%= require("./partials/aside.ejs")({active: "index"}) %>
        </div>
        <!-- 主內容 -->
        <div class='col-lg-9 col-sm-12'>
          <!-- 麪包屑導覽列-->
          <%= require("./partials/breadcrumb.ejs")({title: htmlWebpackPlugin.options.title}) %>
          <!-- 主內容區 -->
          <div class='card'>
            <div class='card-body'>
              <h2 class='card-title'>主控臺</h2>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum consequatur dolor sit officia. Eum omnis possimus voluptas similique blanditiis eligendi, ducimus temporibus autem! Libero, incidunt quam voluptate iure ipsa nisi!</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%= require("./partials/scripts.ejs")() %>
  </body>
</html>